html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.btn {
  @apply bg-btn-background text-btn-color px-4 py-2;
}

.layout-container{
  max-width: 1280px;
  font-size: 20px;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.heading {
  font-size: 54px;

  @media screen and (max-width: 1024px) {
    font-size: 48px;
  }

  @media screen and (max-width: 768px) {
    font-size: 34px;
  }
}

.sub-heading {
  font-size: 36px;

  @media screen and (max-width: 768px) {
    font-size: 32px;
  }
}

.sub-text {
  font-size: 16px;
}
