$base-spacing: 8px;
$base-radius: 4px;
$max-width: $base-spacing * 160;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.main-layout-container{
  max-width: $max-width;

  @media screen and (max-width: $max-width) {
    padding: ($base-spacing * 2);
  }
}

.divider {
  // background-color: rgba(206, 209, 213, 0.3);
  height: 2.5px;
  border-radius: $base-radius;
  // margin: ($base-spacing * 5) 0;
}